<%- include("partials/header") -%>

<h1>About Me</h1>
<p><%=aboutContent%></p>

<a href="https://github.com/ishaqibrahimbot">GitHub</a>
<a href="https://www.linkedin.com/in/ishaq-ibrahim/">LinkedIn</a>

<%- include("partials/footer") -%>
